.about {
  width: 100%;
  @include var(background, color-light-2);

  & ::selection {
    @include var(background-color, color-black);
    @include var(color, color-light-2);
  }
}

.about-info {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__box {
    width: 50vw;
    @include center();

    @media only screen and (max-width: $screen-size-medium-3) {
      width: 60vw;
    }
    @media only screen and (max-width: $screen-size-medium-2) {
      width: 75vw;
    }
    @media only screen and (max-width: $screen-size-tiny-2) {
      margin-top: 4vw;
      padding-right: 1.5vw;
      width: 90vw;
    }
    @media only screen and (max-height: $screen-size-tiny-4) and (max-width: $screen-size-small) {
      margin-top: 3vw;
      // margin-bottom: 10vw;
    }
    @media only screen and (max-height: $screen-size-tiny-4) and (max-width: $screen-size-tiny) {
      margin-top: 10vw;
      margin-bottom: 10vw;
    }
  }
}
