.about {
  width: 100%;
  height: 100%;
  @include var(background, color-light-2);

  & ::selection {
    @include var(background-color, color-black);
    @include var(color, color-light-2);
  }
}

.about-info {
  &__box {
    width: 50vw;
    @include center();

    @media only screen and (max-width: $screen-size-medium-3) {
      width: 60vw;
    }
    @media only screen and (max-width: $screen-size-medium-2) {
      width: 75vw;
    }
    @media only screen and (max-width: $screen-size-tiny-2) {
      width: 90vw;
      margin-top: 4vw;
      padding-right: 1.5vw;
    }

    @media only screen and (max-height: $screen-size-tiny-5) and (min-width: $screen-size-medium-2) {
      margin: 3vw 0 7vw 0;
      width: 75vw;
    }

    @media only screen and (max-height: $screen-size-tiny-5) and (max-width: $screen-size-medium-2) {
      margin: 4vw 0 10vw 0;
    }

    @media only screen and (max-height: $screen-size-tiny-5) and (min-width: $screen-size-small) {
      margin: 10vw 0;
    }

    @media only screen and (max-height: $screen-size-tiny-5) and (max-width: $screen-size-tiny) {
      margin: 9vw 0 10vw 0;
    }
  }
}
