.works {
  @include var(background, color-light-1);
  @include var(padding-bottom, main-length);

  & ::selection {
    @include var(background-color, color-black);
    @include var(color, color-light-1);
  }

  @media only screen and (max-width: $screen-size-medium-2) {
    @include var(padding-bottom, main-length-small--double);
  }
  @media only screen and (max-height: $screen-size-tiny) and (max-width: $screen-size-tiny-2) and (orientation: landscape) {
    @include var(padding-bottom, main-length-small--double-without-font-basic);
  }
}

.project-desc {
  width: 35vw;
  padding: 2vw 0 0 0;

  @media only screen and (max-width: $screen-size-medium-3) {
    width: 50vw;
  }
  @media only screen and (max-width: $screen-size-medium-4) {
    width: 100%;
  }
}
