.projects {
  .project {
    &__gallery {
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      > * {
        width: calc(100% - 1.3vw);
        position: relative;
        @include var(margin-top, gap-1);
      }

      &-img {
        width: 100%;
        height: 100%;
      }

      :nth-child(odd) {
        @include var(margin-right, gap-1--half);
        @include column(1);
      }
      :nth-child(even) {
        @include var(margin-left, gap-1--half);
        @include column(2);
      }
      :nth-child(1),
      :nth-child(2) {
        @include row(1);
      }
      :nth-child(3),
      :nth-child(4) {
        @include row(2);
      }

      @media only screen and (max-width: $screen-size-small) {
        display: flex;
        flex-direction: column;

        :nth-child(odd),
        :nth-child(even) {
          margin: 0;
          width: 100%;
          @include var(margin-top, gap-1--half);
          @include var(margin-bottom, gap-1--half);
        }
      }
    }
  }
  @media only screen and (max-width: $screen-size-small) {
    .project:not(:last-of-type) {
      @include var(margin-bottom, main-length-small);
    }
  }
}

.height-vert {
  height: calc(52.125vw - 1.3rem);
  @media only screen and (max-width: $screen-size-small) {
    height: calc(107.5vw - 2rem);
  }
}
.height-horiz {
  height: calc(33.36vw - 0.7rem);
  @media only screen and (max-width: $screen-size-small) {
    height: calc(68.8vw - 1.4rem);
  }
}
.height-sq {
  height: calc(41.7vw - 1rem);
  @media only screen and (max-width: $screen-size-small) {
    height: calc(86vw - 1.7rem);
  }
}

.img-toggler {
  position: absolute;
  top: 0;
  left: -1.3vw;
  width: 100%;
  height: 100%;
  z-index: 10;
  // -webkit-appearance: none;
  // opacity: 0;
  outline: none;
  @media only screen and (max-width: $screen-size-small) {
    left: 0;
  }

  &:checked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    margin: 0 !important;
  }

  &:checked ~ .gallery-item > .gallery-item__box {
    display: block;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-position: center;
    margin: 0 !important;
  }

  &:hover:checked {
    cursor: pointer;
    cursor: zoom-out;
  }

  &:hover:not(:checked) {
    cursor: pointer;
    cursor: zoom-in;
  }

  &:hover:not(:checked) ~ .hover-effect {
    opacity: 0.3;
  }
}

.hover-effect {
  position: absolute;
  top: 0;
  @include var(background, color-primary);
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 10;
}

.gallery-item {
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;

  &__box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      @include var(background-color, color-black);
      width: 100%;
      height: 100%;
      opacity: 0.9;
    }
  }

  &__img {
    // @include center();
    display: block;
    height: 100%;
    width: auto !important;
    background-position: center;
    margin: 0 !important;
  }
}
