.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translate(100vw);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.78, 0);
}

.menu-img {
  $url1: "../img/menuBg_600.jpg";
  $url2: "../img/menuBg_1200.jpg";
  $url3: "../img/menuBg_1550.jpg";
  $url4: "../img/menuBg_2326.jpg";
  $url5: "../img/menuBg_3100.jpg";

  @include img-bg($url1, $url2, $url3, $url4, $url5);
}

.menu-toggler {
  position: fixed;
  @include var(right, main-length);
  @include var(top, main-length);
  width: 8rem;
  height: 2.2rem;
  z-index: 40;
  -webkit-appearance: none;
  opacity: 0;
  display: hidden;
  cursor: pointer;

  @media only screen and (max-width: $screen-size-medium-2) {
    @include var(right, main-length-small);
    @include var(top, main-length-small--double);
  }
  @media only screen and (max-height: $screen-size-tiny) and (max-width: $screen-size-tiny-2) and (orientation: landscape) {
    @include var(right, main-length-small);
    @include var(top, main-length);
  }
  @media only screen and (max-height: 13.75em) {
    pointer-events: none;
  }

  &:checked ~ .menu {
    z-index: 30;
    opacity: 1;
    transform: translate(0vw);
    display: block;
  }

  &:not(:checked):hover ~ #menu ~ .navigation > .layout-box > h4 {
    @include var(color, color-primary-dark);
  }

  &:checked:active ~ .menu > .navigation > .layout-box > h4,
  &:checked:focus ~ .menu > .navigation > .layout-box > h4 {
    border-bottom: 3px solid;
    border-color: inherit;
  }

  &:checked:focus:hover ~ .menu > .navigation > .layout-box > h4,
  &:checked:active:hover ~ .menu > .navigation > .layout-box > h4 {
    @include var(border-color, color-primary-dark);
  }

  &:not(:checked):hover ~ #menu-home ~ .navigation > .layout-box > h4::before {
    opacity: 0.6;
    @supports (mix-blend-mode: screen) {
      opacity: 1;
    }
  }

  &:checked:hover ~ .menu > .navigation > .layout-box > h4 {
    @include var(color, color-primary-dark);
  }

  &:checked ~ .navigation > .layout-box > h4 {
    opacity: 0;
  }

  &:checked ~ .gradient-btm {
    z-index: 30;
  }
}

#menu,
#menu-home {
  & ::selection {
    background-color: transparent;
    @include var(color, color-white);
  }
}
