@mixin center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.pad-1 {
  padding-bottom: 4rem;

  @media only screen and (max-width: $screen-size-small) {
    padding-bottom: 3rem;
  }
  @media only screen and (max-height: $screen-size-tiny-3) {
    padding-bottom: 2rem;
  }
}

.full-screen-box {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 map-get($vars, main-length);
  margin: 0 var(--main-length);

  @media only screen and (max-width: $screen-size-medium-2) {
    margin: 0 map-get($vars, main-length-small);
    margin: 0 var(--main-length-small);
  }
}

.layout-box {
  @include var(height, main-length--with-font-basic);
  display: flex;
  margin: 0 map-get($vars, main-length) 0 0;
  margin: 0 var(--main-length) 0 0;
  align-items: flex-end;

  &--br {
    align-items: flex-start;
  }
  &--tl {
    margin: 0;
  }

  @media only screen and (max-width: $screen-size-medium-2) {
    margin: 0 map-get($vars, main-length-small) 0 0;
    margin: 0 var(--main-length-small) 0 0;
    @include var(height, main-length-small--double-with-font-basic);
  }

  @media only screen and (max-height: $screen-size-tiny) and (max-width: $screen-size-tiny-2) and (orientation: landscape) {
    margin: 0 map-get($vars, main-length-small) 0 0;
    margin: 0 var(--main-length-small) 0 0;
    @include var(height, main-length-small--double);
  }
}

.side-box {
  transform: translateY(-50%) rotate(-90deg);
  position: fixed;
  top: 50vh;
  right: -7vh;
  margin: 0 map-get($vars, main-length--half);
  margin: 0 var(--main-length--half);
  pointer-events: none;
  z-index: 1;

  @supports (writing-mode: vertical-lr) {
    transform: translateY(-50%) rotate(180deg);
    right: 0;
  }

  @media only screen and (max-width: $screen-size-medium-2) {
    margin: 0 map-get($vars, main-length-small--half);
    margin: 0 var(--main-length-small--half);
  }

  @media only screen and (max-width: $screen-size-medium), (max-height: 11em) {
    display: none;
  }
}

@mixin column($value) {
  -ms-grid-column: $value;
  grid-column: $value;
}
@mixin row($value) {
  -ms-grid-row: $value;
  grid-row: $value;
}
