$screen-size-tiny-6: 18.75em; // 300px
$screen-size-tiny-4: 25em; // 400px
$screen-size-tiny-5: 31.25em; // 500px
$screen-size-tiny: 37.5em; // 600px
$screen-size-tiny-3: 43.75em; // 700px
$screen-size-tiny-2: 50em; // 800px
$screen-size-small: 56.25em; // 900px
$screen-size-medium: 62.5em; // 1000px
$screen-size-medium-4: 68.75em; // 1100px
$screen-size-medium-2: 75em; // 1200px
$screen-size-medium-3: 87.5em; // 1400px
$screen-size-big: 93.75em; // 1500px
$screen-size-big-2: 100em; // 1600px

$vars: (
  font-1: (
    "Rubik",
    sans-serif,
  ),
  font-2: (
    "Playfair Display",
    serif,
  ),
  font-size-basic: 2.2rem,
  font-size-tiny: 1.4rem,
  font-size-tiny-2: 1.6rem,
  font-size-small: 2rem,
  font-size-small-4: 2.1rem,
  font-size-small-1: 2.4rem,
  font-size-small-2: 2.8rem,
  font-size-small-3: 3rem,
  font-size-medium-2: 3.4rem,
  font-size-medium: 4.4rem,
  font-size-big-2: 5rem,
  font-size-big: 8rem,
  font-weight-1: 300,
  font-weight-2: 400,
  font-weight-3: 450,
  font-weight-4: 500,
  font-weight-5: 550,
  font-weight-6: 600,
  color-white: #fff,
  color-black: #000,
  color-grey-dark: #555,
  color-transparent: transparent,
  color-light-1: #e3e9f5,
  color-light-2: #f7f5e9,
  color-primary: #00fed4,
  color-primary-light: #00ffea,
  color-primary-light--2: #88fff5,
  color-primary-dark: #00e0bb,
  color-spectrum-1: #b2ff9e,
  color-spectrum-2: #affc41,
  color-spectrum-3: #ffff00,
  color-spectrum-4: #00ff00,
  color-spectrum-5: #1dd3b0,
  color-spectrum-5--dark: #159c81,
  color-spectrum-6: #3c1642,
  gap-1: 2.6vw,
  gap-2: 2.3vw,
  main-length: 7vw,
  main-length-small: 5vw,
  logo-width: 8rem,
  logo-width-small: 6vw,
);

$dependant-vars: (
  gap-1--half: calc(#{map-get($vars, gap-1)} / 2),
  main-length--with-font-basic:
    calc(#{map-get($vars, main-length)} + #{map-get($vars, font-size-basic)}),
  main-length--half:
    calc(
      (#{map-get($vars, main-length)} - #{map-get($vars, font-size-tiny)}) / 2
    ),
  main-length-small--half:
    calc(
      (#{map-get($vars, main-length-small)} - #{map-get($vars, font-size-tiny)}) /
        2
    ),
  main-length-small--double: calc(#{map-get($vars, main-length-small)} * 2),
  main-length-small--double-with-font-basic:
    calc(
      (#{map-get($vars, main-length-small)} * 2) + #{map-get(
          $vars,
          font-size-basic
        )}
    ),
  main-length-small--double-without-font-basic:
    calc(
      (#{map-get($vars, main-length-small)} * 2) - #{map-get(
          $vars,
          font-size-basic
        )}
    ),
  logo-height: calc((#{map-get($vars, logo-width)}) * 15 / 16),
  logo-height-small: calc((#{map-get($vars, logo-width-small)}) * 15 / 16),
);

$vars: map-merge($vars, $dependant-vars);

:root {
  @each $property, $value in $vars {
    --#{$property}: #{$value};
  }
}

@mixin var($property, $variable) {
  #{$property}: map-get($vars, $variable);
  #{$property}: var(--#{$variable});
}
